/* Link colors */
p a {
    color: blue
}
p a:visited {
    color: purple
}

/* centered divs */
.centered {
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.centered img {
    display: inline;
    margin: 0px;
}

/* Post Thumbnails */
:root {
    --thumbnail: 115px
}
.post-entry:has(.entry-cover) {
    box-sizing: content-box;
    min-height: var(--thumbnail);
}
.entry-cover {
    box-sizing: content-box;
    height: var(--thumbnail);
    width: var(--thumbnail);
    left: calc(100% - var(--thumbnail) - var(--gap));
    position: absolute;
}
.entry-cover ~ .entry-header,
.entry-cover ~ .entry-content,
.entry-cover ~ .entry-footer {
    max-width: calc(100% - var(--thumbnail) - var(--gap));
}

/* Don't squish homepage picture on mobile */
.profile img {
    max-width: initial;
}

/* extra spacing for breadcrumb links and comments*/
.breadcrumbs {
    margin-bottom: var(--content-gap);
}
#cusdis_thread {
    margin-top: 40px;
}
